<div class="container mt-5">
  <div *ngIf="isloading == false" class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        [src]="imgPrefix + moviedetails.backdrop_path"
        class="img-thumbnail img-fluid"
      />
    </div>
    <div class="col-md-6">
      <h2 class="text-center mb-4">{{ moviedetails.original_title }}</h2>
      <p class="lead">{{ moviedetails.overview }}</p>

      <h3 class="mt-5">
        <span class="text-muted">Vote Average : </span
        >{{ moviedetails.vote_average }}
      </h3>
      <h3 class="mt-3">
        <span class="text-muted">Vote Count : </span
        >{{ moviedetails.vote_count }}
      </h3>
    </div>
  </div>
  <!--------------------------------------->
  <div class="row mt-5">
    <a routerLink="/home" class="btn btn-info ml-5">Back to home </a>
  </div>
</div>
