<form
  [formGroup]="registerForm"
  (ngSubmit)="getFormData(registerForm)"
  class="w-75 m-auto py-4"
>
  <div class="form-group">
    <label>First-Name :</label>
    <input
      [class.is-invalid]="
        registerForm.get('first_name').invalid == true &&
        registerForm.get('first_name').touched == true
      "
      class="form-control w-100"
      formControlName="first_name"
      type="text"
    />
    <!---------------->

    <div
      *ngIf="
        registerForm.get('first_name').invalid == true &&
        registerForm.get('first_name').touched == true
      "
      class="alert alert-danger my-3"
      role="alert"
    >
      A first name is not valid
    </div>
    <!---------------->
  </div>
  <!------------------------------------->
  <div class="form-group">
    <label>Last-Name :</label>
    <input
      [class.is-invalid]="
        registerForm.get('last_name').invalid == true &&
        registerForm.get('last_name').touched == true
      "
      class="form-control w-100"
      formControlName="last_name"
      type="text"
    />
    <!---------------->

    <div
      *ngIf="
        registerForm.get('last_name').invalid == true &&
        registerForm.get('last_name').touched == true
      "
      class="alert alert-danger my-3"
      role="alert"
    >
      A last name is not valid
    </div>
    <!---------------->
  </div>
  <!--------------------------------------------->
  <div class="form-group">
    <label>Password :</label>
    <input
      [class.is-invalid]="
        registerForm.get('password').invalid == true &&
        registerForm.get('password').touched == true
      "
      class="form-control w-100"
      formControlName="password"
      type="password"
    />
    <!---------------->

    <div
      *ngIf="
        registerForm.get('password').invalid == true &&
        registerForm.get('password').touched == true
      "
      class="alert alert-danger my-3"
      role="alert"
    >
      A Password is not valid
    </div>
    <!---------------->
  </div>
  <!------------------------------------------->
  <div class="form-group">
    <label>E-mail :</label>
    <input
      [class.is-invalid]="
        registerForm.get('email').invalid == true &&
        registerForm.get('email').touched == true
      "
      class="form-control w-100"
      formControlName="email"
      type="text"
    />
    <!---------------->

    <div
      *ngIf="
        registerForm.get('email').invalid == true &&
        registerForm.get('email').touched == true
      "
      class="alert alert-danger my-3"
      role="alert"
    >
      E-mail is not valid
    </div>
    <!---------------->
  </div>
  <!------------------------------------------------>
  <div class="form-group">
    <label>Age :</label>
    <input
      [class.is-invalid]="
        registerForm.get('age').invalid == true &&
        registerForm.get('age').touched == true
      "
      class="form-control w-100"
      formControlName="age"
      type="text"
    />
    <!---------------->

    <div
      *ngIf="
        registerForm.get('age').invalid == true &&
        registerForm.get('age').touched == true
      "
      class="alert alert-danger my-3"
      role="alert"
    >
      The age is not valid
    </div>
    <!---------------->
  </div>
  <button
    [disabled]="registerForm.invalid == true"
    class="btn btn-info"
    type="submit"
  >
    Register
  </button>
</form>
